* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  background-color: yellow;
  height: 100vh;
  text-align: center;
}

.label,
input,
button,
#output {
  margin: 1.3rem;
  font-size: 1.3rem;
}

input {
  background-color: #FECDD3;
}

button {
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: #FECDD3;
}